body {
  background-color: blue;
  color: #000;
  font-size: 16px;
  font-family: Roboto, "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

#cabecera {
  background-color: brown;
  color: white;
  font-weight: bold;
  margin: 0;
  padding: 0.5em;
}

#cabecera small {
  color: steelblue;
}

#container {
  width: 70%;
  padding: 1em;
  text-align: left;
  border: 1px solid #ddd;
  margin: 30px auto;
}

#container h1 {
  font-size: 20px;
}

#post {
  padding: 1em;
}
